#txarea{
    height: 100%;
}
#foott{
 
    margin-bottom: 60px;
  
    border: none;
   
    
}
#btnnn{
    margin-bottom: 90px;
    margin-right: 5px;
}
.wr{

    font-family:Manrope;
}
#head{
margin-left: 2.2%;
}
