.ct{
    text-align: center;
    text-justify: auto;
    font-family:Manrope;
}
#foot{
   margin-bottom: 60px;
  
   border: none;
   

   display: flex;
   flex-direction: row;
   justify-content: space-around;
  
}
#fb{
  margin-bottom: 90px;
  margin-right: 5px;
}
